<% if @company.name %>
  <h2><%= @company.name %></h2>
  <h4><%= @company.description %></h4>

  <h1>Create a transfer</h1>
    <article>
    <%= form_tag recipients_path do %>
      <div class="form-group">
        <%= text_field_tag :name, nil, placeholder: "Recipient Name" %>
      </div>
      <div class="form-group">
        <%= radio_button_tag(:type, "individual") %>
        <%= label_tag(:type, "Individual") %>
        <%= radio_button_tag(:type, "corporation") %>
        <%= label_tag(:type, "Corporation") %>
      </div>
      <div class="form-group">
        <%= email_field_tag :email, nil, placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= text_field_tag :account, "000123456789", placeholder: "Bank Account Number" %>
        <%= text_field_tag :routing, "110000000", placeholder: "Bank Routing Number" %>
      </div>
      <div class="form-group">
        <%= text_field_tag :country, nil, placeholder: "Country" %>
      </div>
      <div class="form-group">
        <%= number_field_tag :amount, nil, placeholder: "Amount" %>
        <%= select_tag :currency, options_for_select(currency) %>
      </div>
      <div class="form-group">
        <%= text_field_tag :description, nil, placeholder: "Description" %>
      </div>
      <%= hidden_field_tag :company_id, value: @company.id %>
      <%= submit_tag "Send Money!", class: "btn btn-danger btn-lg" %>
    <% end %>
    </article>
<% else %>
  <h1>YOU SHALL NOT PASS!!!!!</h1>
  <%= link_to "Return to Companies", companies_path, class: "btn btn-primary btn-lg" %>
<% end %>
