<% if @company.name %>
  <h2><%= @company.name %></h2>
  <h4><%= @company.description %></h4>

  <%= form_tag contributions_path do %>
    <article>
      <%= text_field_tag :amount, nil, placeholder: "Donation Amount", class: "amount margin-high" %>
      <%= hidden_field_tag :company_id, @company.id %>
    </article>

    <br>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Pay me my money!!!!"></script>
  <% end %>
<% else %>
  <h1>YOU SHALL NOT PASS!!!!!</h1>
  <%= link_to "Return to Companies", companies_path, class: "btn btn-primary btn-lg" %>
<% end %>
